#checkers {
  margin: 80px 0 0;
  height: 1120px;
}

#checkers #app {
  width: 860px;
  height: 860px;
  margin: 40px 0 0;
}

#checkers section { padding: 0 }

#checkers .man {
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  line-height: 4.75rem;
  color: yellow;
}

#checkers .man[data-color="white"] { color: blueviolet }

#checkers .man.selected {
  box-shadow: yellow 0 0 11px 7px;
  animation: pulsate 2s ease-out infinite;
}

@-webkit-keyframes pulsate {
    0%   { box-shadow: 0 0 7px 5px yellow; }
    50%  { box-shadow: 0 0 11px 7px yellow; }
    100% { box-shadow: 0 0 7px 5px yellow; }
}

#checkers .game, #checkers .board { height: 100% }

#checkers .board {
  display: flex;
  flex-wrap: wrap;
}

#checkers .square .id { position: absolute }

#checkers .square.highlighted { box-shadow: yellow 0 0 0 7px inset }

#checkers .board .gameOver {
  position: absolute;
  text-align: center;
  background-color: firebrick;
  padding: 4rem 0;
  font-size: 5rem;
  width: 100%;
  top: 30%;
  z-index: 1;
}

