@charset "UTF-8";
#wrapper {
	width: 1021px;
	position: relative;
	left: auto;
	top: 0px;
	right: auto;
	bottom: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
#logo {
	background-image: url(images/logo_bbq.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: left;
	text-indent: -3000px;
	width: 687px;
	height: 199px;
	margin: 0px;
}
#promo {
	float: right;
	height: 199px;
	width: 334px;
	margin: 0px;
	clear: both;
	position: absolute;
	right: 0px;
	top: 0px;
}
#rtnavbar {
	width: 334px;
	position: absolute;
	margin: 0px;
	right: 0px;
	top: 199px;
}
#text {
	margin: 0px;
	height: 416px;
	width: 606px;
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	left: 0px;
	top: 234px;
	background-image: url(images/index_new/left_mainback.jpg);
}
#text p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 16px;
	color: #4D2615;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 50px;
}
#text h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: 24px;
	color: #FF0000;
	text-align: left;
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 50px;
}
#mainimage {
	margin: 0px;
	height: 416px;
	width: 415px;
	position: absolute;
	float: right;
	top: 234px;
	right: 0px;
}
#emaillist  {
	width: 160px;
	left: 40px;
	position: absolute;
	top: 460px;
	margin-top: 10px;
}
#yelp {
	margin-top: 20px;
}
#yelp  img  {
}
#twitter_div {
	position: absolute;
	top: 520px;
	left: 210px;
	width: 200px;
}
#umbrella {
	position: absolute;
	top: 535px;
	left: 450px;
	width: 120px;
}
#twitter_div a {
	text-decoration: none;
	color: #FDF8D5;
}
#twitter_update_list {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3b1c12;
	background-position: left;
}
#twitter_update_list a {
	color: #3b1c12;
	text-decoration: none;
}
#abouttext {
	margin: 0px;
	height: 481px;
	width: 619px;
	background-image: url(images/aboutlback.jpg);
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 134px;
}
#abouttext p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 14px;
	color: #000000;
	text-align: left;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 50px;
	font-weight: normal;
	width: 450px;
}
#abouttext h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: 16px;
	color: #000000;
	text-align: left;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 50px;
	font-weight: bold;
}
#about_mainimage {
	margin: 0px;
	height: 481px;
	width: 402px;
	position: absolute;
	float: right;
	top: 134px;
	right: 0px;
}
#aboutwrapper {
	height: 620px;
	width: 1021px;
	position: relative;
	left: auto;
	top: 0px;
	right: auto;
	bottom: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#faqstext {
	margin: 0px;
	height: 713px;
	width: 619px;
	background-image: url(images/faqsl.jpg);
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 134px;
}
#faqstext p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 14px;
	color: #000000;
	text-align: left;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 50px;
	font-weight: normal;
	width: 525px;
}
#faqstext h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: 16px;
	color: #000000;
	text-align: left;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 50px;
	font-weight: bold;
}
#faqs_mainimage {
	margin: 0px;
	height: 713px;
	width: 402px;
	position: absolute;
	float: right;
	top: 134px;
	right: 0px;
}
#indexfooter_nav {
	top: 640px;
	position: absolute;
	visibility: visible;
	width: 1021px;
}
#indexfooter_nav   ul {
	list-style-type: none;
	margin: 0px;
}
#indexfooter_nav    ul    li {
	display: inline;
	float: right;
}
#indexfooter_nav   ul   li   a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#supplierstext {
	width: 740px;
	padding-left: 50px;
}
#menufooter_nav {
	top: 485px;
	position: absolute;
	visibility: visible;
	width: 1021px;
}
#menufooter_nav ul {
	list-style-type: none;
	margin: 0px;
}
#menufooter_nav ul li {
	display: inline;
	float: right;
}
#menufooter_nav ul li a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#locationsfooter_nav {
	top: 1205px;
	position: absolute;
	visibility: visible;
	width: 1020px;
	left: 1px;
}
#locationsfooter_nav ul {
	list-style-type: none;
	margin: 0px;
}
#locationsfooter_nav ul li {
	display: inline;
	float: right;
}
#locationsfooter_nav ul li a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#faqsfooter_nav {
	top: 845px;
	position: absolute;
	visibility: visible;
	width: 1020px;
	left: 1px;
}
#faqsfooter_nav ul {
	list-style-type: none;
	margin: 0px;
}
#faqsfooter_nav ul li {
	display: inline;
	float: right;
}
#faqsfooter_nav ul li a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#worksfooter_nav {
	top: 2920px;
	position: absolute;
	visibility: visible;
	width: 1020px;
	left: 1px;
}
#worksfooter_nav ul {
	list-style-type: none;
	margin: 0px;
}
#worksfooter_nav ul li {
	display: inline;
	float: right;
}
#worksfooter_nav ul li a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#contactfooter_nav {
	top: 970px;
	position: absolute;
	visibility: visible;
	width: 1020px;
	left: 1px;
}
#contactfooter_nav ul {
	list-style-type: none;
	margin: 0px;
}
#contactfooter_nav ul li {
	display: inline;
	float: right;
}
#contactfooter_nav ul li a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#aboutfooter_nav {
	top: 596px;
	position: absolute;
	visibility: visible;
	width: 1020px;
	left: 1px;
}
#abouttfooter_nav ul {
	list-style-type: none;
	margin: 0px;
}
#aboutfooter_nav ul li {
	display: inline;
	float: right;
}
#aboutfooter_nav ul li a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#suppliersfooter_nav {
	top: 2160px;
	position: absolute;
	visibility: visible;
	width: 1020px;
	left: 1px;
}
#suppliersfooter_nav ul {
	list-style-type: none;
	margin: 0px;
}
#suppliersfooter_nav ul li {
	display: inline;
	float: right;
}
#suppliersfooter_nav ul li a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#Soul li {
}
#newwrapper {
	width: 1021px;
	position: relative;
	left: auto;
	top: 0px;
	right: auto;
	bottom: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#newlogo {
	background-image: url(../images/newlogo.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: left;
	text-indent: -3000px;
	width: 687px;
	height: 100px;
	margin: 0;
}
#newlogo img {
	float: right;
/*  margin-top: -55px;*/
	margin-right: -10px;
}
#newpromo {
	height: 70px;
	width: 294px;
	margin: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: #E2E477;
	left: 687px;
	border-left: solid #4D2615 2px;
	padding: 10px 20px 10px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FF0000;
}
#newrtnavbar {
	width: 294px;
	position: absolute;
	margin: 0px;
	top: 90px;
	background-color: #E2E477;
	left: 687px;
	border-left: solid #4D2615 2px;
	padding-left: 20px;
	height: 500px;
	padding-right: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D2615;
}
#new_nav {
/*  top: 100px;*/
	visibility: visible;
	width: 687px;
	background-color: #FDFAE4;
/*  position: absolute;*/
}
#new_nav ul {
	list-style-type: none;
	margin: 0 0 0 35px;
}
#new_nav ul li {
	display: inline;
	float: left;
}
#new_nav ul li a {
	display: block;
	padding: 10px 20px;
	color: #4D2615;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#displaywrapper {
	margin: 0px;
	height: 465px;
	width: 687px;
	position: absolute;
	left: 0px;
	top: 130px;
	background-color: #FDFADC;
}
#display {
	width: 622px;
	left: 65px;
	border-left: solid #E2E477 2px;
	position: absolute;
	top: 25px;
}
#new_secondnav {
	top: 125px;
	position: absolute;
	visibility: visible;
	width: 687px;
	background-color: #FDFADC;
}
#new_secondnav ul {
	list-style-type: none;
	margin: 0 0 0 57px;
}
#new_secondnav ul li {
	display: inline;
	float: left;
}
#new_secondnav ul li a {
	display: block;
	padding: 8px 20px;
	color: #4D2615;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#newindexfooter_nav {
	top: 590px;
	visibility: visible;
	width: 1000px;
	background-color: #4D2615;
	position: absolute;
}
#newindexfooter_nav ul {
	list-style-type: none;
	margin: 0px;
}
#newindexfooter_nav ul li {
	display: inline;
	float: right;
}
#newindexfooter_nav ul li a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#specialtext {
	width: 740px;
	padding-left: 50px;
}
#newtwitter_div {
	position: absolute;
	top: 500px;
	left: 25px;
	width: 250px;
}
#newtwitter_div ul {
	list-style-type: none;
	margin: 0 0 0 5;
}
#newtwitter_div ul li {
	display: inline;
	float: left;
}
#newtwitter_div ul li a {
	padding: 5px 5px;
	text-decoration: none;
}
#newemaillist {
	width: 160px;
	left: 285px;
	position: absolute;
	top: 500px;
	margin-top: 15px;
}
